@model List<Blog>


@{
    ViewData["Title"] = "BlogListByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center" style="color:darkblue">BLOG</h2>
<br />

@await Component.InvokeAsync("BlogCategoryList")

@if (Model.Count == 0)
{
    <br />
    <br />
    <div class="alert alert-danger"><h4 class="text-center">Blog Bulunmamaktadır</h4></div>
}
else
{
    <br />
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@item.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <span><a asp-controller="Blogs" asp-action="BlogDetails" asp-route-id="@item.BlogId" class="btn btn-lg btn-info"><i class="fa-solid fa-eye"></i> İçeriğin tamamı</a></span>
                    </div>
                </div>
            </div>
        }

    </div>
}



