@model CreditModel



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2 class="text-center text-info">Kredi İhtiyacınızda Fatih Bank Yanınızda </h2>
        <br />
        <br />
    <div class="row">
        <div class="col-md-4">
            <img style="width:70px; height:70px;" src="~/logo/ihtiyacKredisi.png" />
            <h4 class="text-danger">İhtiyaç Kredisi</h4>
        
            <form asp-controller="Home" asp-action="RequirementCredit" method="post">
                <div class="form-group">
                    <input type="text" asp-for="RequirementCredit.AmountOfNeedRequirementCredit" value="Kredi Miktarı" />
                    <span asp-validation-for="RequirementCredit.AmountOfNeedRequirementCredit"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="RequirementCredit.MonthlyPaymentRequirementCredit" value="Kaç Ay" />
                    <span asp-validation-for="RequirementCredit.MonthlyPaymentRequirementCredit"></span>
                </div>
                <button class="btn btn-outline-success" type="submit">Hesapla</button>
            </form>
        </div>
        <div class="col-md-4">
            <img style="width:70px; height:70px;" src="~/logo/KonutKredisi.png" />
                 <h4 class="text-danger">Ev Kredisi</h4>
            <form asp-controller="Home" asp-action="HomeCredit" method="post">
                <div class="form-group">
                    <input type="text" asp-for="HomeCredit.AmountOfNeedHomeCredit" />
                    <span asp-validation-for="HomeCredit.AmountOfNeedHomeCredit"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="HomeCredit.MonthlyPaymentHomeCredit" />
                    <span asp-validation-for="HomeCredit.MonthlyPaymentHomeCredit"></span>
                </div>
                <button class="btn btn-outline-success" type="submit">Hesapla</button>
            </form>

        </div>
        <div class="col-md-4">
            <img style="width:70px; height:70px;" src="~/logo/AraçKredisi.png" />
                 <h4 class="text-danger">Araç Kredisi</h4>
                <form asp-controller="Home" asp-action="VehicleCredit" method="post">
                <div class="form-group">
                    <input type="text" asp-for="VehicleCredit.AmountOfNeedVehicleCredit" />
                    <span asp-validation-for="VehicleCredit.AmountOfNeedVehicleCredit"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="VehicleCredit.MonthlyPaymentVehicleCredit" />
                    <span asp-validation-for="VehicleCredit.MonthlyPaymentVehicleCredit"></span>
                </div>
                <button class="btn btn-outline-success" type="submit">Hesapla</button>
            </form>

        </div>

    </div>
    </div>

@await Component.InvokeAsync("CartList")
<br />
<a asp-controller="Carts" asp-action="Index"><h4 class="text-center text-primary"><img src="~/logo/plus.png" style="width:30px; height:30px;" /> Tüm Kredi Kartlarını Gör</h4></a>
@await Component.InvokeAsync("BlogList")
<br />
<a asp-controller="Blogs" asp-action="Index"><h4 class="text-center text-primary"><img src="~/logo/plus.png" style="width:30px; height:30px;" /> Tüm İçeriklere git</h4></a>


